<footer class="footer">
  <div class="container py-4">
    <address>
      <p>
        <span>전라북도 전주시 덕진구 출판로87, 201동 101호</span>
        <span>|</span>
        <span
          >이메일주소
          <a href="mailto:sonyeo9333@naver.com">sonyeo9333@naver.com</a></span
        >
      </p>
      <ul class="info">
        <li>부잇 대표이사 유세현</li>
        <li>사업자등록 433-32-00860</li>
        <!-- <li>통신판매 2020전주00000</li> -->
      </ul>
    </address>
    <small class="mt-4">2020 &copy; Buit. All rights reserved.</small>
  </div>
</footer>
