<header class="header">
  <div class="container-fluid">
    <nav class="navbar">
      <span class="navbar-brand navbar-expand">
        <img
          src="../../assets/images/logo_white.svg"
          class="d-inline-block align-top img-fluid logo"
          alt="부잇로고"
        />
      </span>
      <ul class="navbar-nav ml-auto flex-row">
        <li class="nav-item">
          <a href="mailto:aaa@sdf.com" class="nav-link px-0">고객지원</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
