// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------
.footer {
  display: flex;
  justify-content: center;
  color: $light;
  background-color: $dark;

  address {
    margin: 0 auto;
    text-align: center;
    p {
      display: flex;
      flex-direction: column;
      text-align: center;
      span:nth-child(2) {
        display: none;
      }
    }
    a {
      color: $silver;
    }
  }
  small {
    display: block;
    text-align: center;
    color: $steel;
  }
  .info {
    color: $cool-grey;
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    address {
      p {
        display: block;
        text-align: center;
        span:nth-child(2) {
          display: inline-block;
          color: $steel;
        }
      }
    }
  }
}
